<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metode SMART</title>
</head>
<body>
    <h1>Sistem Pendukung Keputusan Pemilihan Usaha Terbaik</h1>
    <br>
    <br>
    <h2>Input Matriks Normalisasi dan Bobot</h2>
    <form method="post">
        <h2>Matriks Normalisasi Utility/Utilitas (Ui)</h2>
        {% for i in range(1, 5) %}
            <h3>Alternatif A{{ i }}</h3>
            <label>C1: <input type="text" name="A{{ i }}_C1"></label>
            <label>C2: <input type="text" name="A{{ i }}_C2"></label>
            <label>C3: <input type="text" name="A{{ i }}_C3"></label>
            <label>C4: <input type="text" name="A{{ i }}_C4"></label>
            <label>C5: <input type="text" name="A{{ i }}_C5"></label>
            <br>
        {% endfor %}
        <h2>Bobot Kriteria (Wij)</h2>
        <label>C1: <input type="text" name="weight_C1"></label>
        <label>C2: <input type="text" name="weight_C2"></label>
        <label>C3: <input type="text" name="weight_C3"></label>
        <label>C4: <input type="text" name="weight_C4"></label>
        <label>C5: <input type="text" name="weight_C5"></label>
        <br>
        <br>
        <br>
        <input type="submit" value="Hitung Skor">
    </form>
</body>
</html>